<style>
    .bg-pro {
        background-color: #2C3E50;
        color: #b3b3b3;
    }
</style>
<header class="clearfix">
    <nav class="navbar navbar-expand-lg navbar-dark bg-pro">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/"><strong>Blog</strong></a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav_flex"">
      <li class=" nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="index.php?p=home">Accueil</a>
                </li>
                <a class="nav-link" href="?p=post">Articles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Inscription</a>
                </li>
            </ul>
        </div>
    </nav>
</header>